<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ricemonitoring.mapper.AccountManageMapper">
    <insert id="accountAdd" parameterType="account_manage" >
        insert into account_manage (name,account,time) values (#{name},#{account},#{time})
    </insert>
    <delete id="deleteAccount" parameterType="account_manage">
        delete from account_manage where name=#{name} and account=#{account}
    </delete>

    <select id="getAccount" resultType="com.ricemonitoring.pojo.account_manage">
        select name,account,time from account_manage where name=#{name}
    </select>
    <select id="loginQuick" parameterType="person_login" resultType="com.ricemonitoring.pojo.person_login">
        select account,access,area,crop,in_use from person_login where account=#{account} and in_use = 1
    </select>
    <select id="isExist" parameterType="account_manage" resultType="com.ricemonitoring.pojo.account_manage">
        select name,account from account_manage where name=#{name} and account=#{account}
    </select>
</mapper>